@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: 'Bangers', sans-serif;
    text-align: center;

}

header{
    padding: 10px 0 0;
}

.fade-in{
    opacity: 1;
    pointer-events: all;
}

.fade-out{
    opacity: 0;
    pointer-events: none;
}

.pointer-none{
    pointer-events: none;
}

.game{
    font-size: 60px;
    color: gray;
}

.kolory{
    font-size: 60px;
}

.yellow {
    color: rgb(226, 154, 19);
}

.green {
    color: rgb(48, 240, 48);
}

.blue{
    color: rgb(43, 43, 173);
}

.new-game-button{
    font-family: 'Bangers', sans-serif;
    margin: 30px auto 10px;
    padding: 10px 30px;
    text-align: center;
    font-size: 30px;
    color: orangered;
    border: 4px solid orangered;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.new-game-button:hover{
    background-color: orangered;
    color: white;
}

.players{
    width: 400px;
    height: 60px;
    margin: 0 auto;
    padding: 10px 0 0 10px;
    color: gray;
    border: 4px solid gray;
    border-radius: 10px;
    font-size: 30px;
}

.pscore{
    padding: 0 0 0 20px;
}

.cscore{
    padding: 0 20px 0 0;
}

.info{
    font-family: 'Bangers', sans-serif;
    font-size: 25px;
    display: inline-block;
    padding-top: 25px;
    transition: 2s ease;
}

.small{
    display: none;
}

.choice-boxes{
    display: flex;
    margin: 30px auto;
    justify-content: center;
    transition: 2s ease;
}

.choice-box{
    width: 200px;
    height:200px;
    margin: 0 20px;
    padding: 30px 0 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.rock{
    border: 5px solid rgb(226, 154, 19);
    border-radius: 10px;
    color: rgb(226, 154, 19);
}

.paper{
    border: 5px solid rgb(48, 240, 48);
    border-radius: 10px;
    color: rgb(48, 240, 48);
}

.scissors{
    border: 5px solid rgb(43, 43, 173);
    border-radius: 10px;
    color: rgb(43, 43, 173);
}


.rock:hover{
    background-color: rgb(226, 154, 19);
    color: white;
}

.paper:hover{
    background-color: rgb(48, 240, 48);
    color: white;
}

.scissors:hover{
    background-color: rgb(43, 43, 173);
    color: white;
}

.instruction{
    margin: 20px 0;
    padding-top: 20px;
    font-size: 20px;
    color: gray;
    transition: 2s ease;
}

@media (max-width: 425px) {
    html{
        width: 100vw;
        height: 100vh;
    }

    .players{
        width: 90%;
    }

    .choice-box{
        width: 90px;
        height: 90px;
        position: relative;
    }

    .big{
        display: none;
    }

    .small{
        position: absolute;
        top: -20px;
        right: 60px;
    }

    #paper-img i{
        right: 55px;
    }
}
